.EstiloSweet{
	font-family: serif;
	font-size: xx-large;
	text-align: center;
	width: 100%;
}


#menu{
	color : #000000;
	text-align: center;
	opacity: 100%;
}

footer{
	text-align: center; 
}

body{
	background-image: url("img3.jpg"); 
	background-repeat: repeat;
	background-position: center;
	position: relative;
	background-size: cover;
}
#content{
	margin-top: 50px;
	height: 800px;
	opacity: 95%;
}
#logo{
	width : 200px;
	height : 70px;
opacity: 95%;
}
#tarjetas{
	text-align: center;
	opacity: 90%;
	color : #ffffff;
	padding : 10px;
	width : 1000px;
	height : 600px;
	

}

table{
	opacity: 100%;
}

h1,h2{
	font-size: large;
}

.ui.card.product{
	color:black;
}